<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Adam Aguilera</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/blogstyle.css">
    <script src="/components.js"></script>
</head>

<body>
    <div class="left-side-container"></div>
    <div class="right-side">
        <div class="nav-container"></div>
        <div class="tab-content">
            <div class="category" style="cursor: pointer;">
                <div class="category-header">
                    <h1 class="category-title">Blog Posts</h1>
                </div>
                {{blog-entries}}
            </div>
        </div>
    </div>
</body>

</html>